

.container2 {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header img{
  margin: 0 auto;
  width: 300px;
}

.header .back {
  color: #007bff;
  cursor: pointer;
}

.header .title {
  font-weight: bold;
}

.content {
  margin-bottom: 20px;
}

.main-logo {
  width: 80px;
  margin-bottom: 10px;
}

.tasks {
  margin-bottom: 30px;
}

.task {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.task:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
}

.task img {
  width: 40px;
  margin-right: 10px;
}

.task-info {
  flex-grow: 1;
  text-align: left;
}

.task-info p {
  margin: 0;
}

.task i {
  font-size: 20px;
  color: #ff0000;
}

.task i fa-times-circle{
  color: rgb(0, 245, 0);
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.footer i {
  font-size: 24px;
  color: #aaa;
}

.footer .active {
  color: #007bff;
}




.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 90px;
}

.pagination button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 20px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active{
  background-color: #0052aa;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}